body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* The navigation bar */
.navbar {
    overflow: hidden;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed; 
    top: 0; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto 10px;
  }
  
  /* Links inside the navbar */
  .links{
      margin-right: 20px;
  }
  .navbar a {
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

.hero {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img{
    position: absolute;
    left: 0;
    top: 10%;
    height: 90%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: lighten;
    animation:  reveal 1s ease forwards, 
                swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}
.hero video{
    position: absolute;
    left: 0;
    top: 10%;
    height: 90%;
    width: 100%;
    object-fit: cover;
    animation:  reveal 1s ease 0.5s forwards,  
                swing 3s ease-in-out infinite alternate-reverse;
    opacity: 0;
}


@keyframes reveal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes swing {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotate(1.5deg);
    }
}